asgiref==3.2.10
certifi==2024.8.30
charset-normalizer==3.3.2
Django==3.1
idna==3.10
pillow==10.4.0
psycopg2-binary==2.9.10
python-decouple==3.8
pytz==2024.1
requests==2.32.3
setuptools==80.8.0
sqlparse==0.5.0
urllib3==2.2.3
